{% extends 'books/base.html' %}
{% load widget_tweaks %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
        <h1 style="display: inline-block">Login</h1>
        <hr>
        {% if error %}
            <strong class="text-danger">{{error}}</strong>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="border" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="border" name="password" id="password" required>
            </div>
            <div class="form-check">
                <input type="submit" value="Login">
                <a href="{% url 'register' %}"><button class="btn btn-link">Register</button></a>
            </div>
        </form>
        </div>
    </div>

    <script>
        window.onload = function(){
            $('#username').keyup((e) => {
                let val = $('#username').val();
                if (val.trim() == ''){
                    $('#username').attr('class', 'border')
                }
                else{
                    $.ajax({
                        url: '{% url "user/search" %}',
                        data: {
                            username: $('#username').val()
                        },
                        success: (res) => {
                            console.log('isvalid? ', res.user_exists);
                            if (res.user_exists){
                                $('#username').attr('class', 'border border-success text-dark')
                            }
                            else{
                                $('#username').attr('class', 'border border-danger bg-danger text-light')
                            }
                        },
                        error: (res) => {
                            console.log("ERROR! ", res.responseText);
                        }
                    });
                }
                
            })
        }
    </script>
{% endblock %}