{% extends 'books/base.html' %}
{% load widget_tweaks %}

{% block body %}
<div class="container">
        <div class="jumbotron">
            <h1 style="display: inline-block">Register</h1>
            <hr>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-danger"> {{ error }} </p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field%}
                </div>
                {% endfor %}
                {% comment %} {{form}} {% endcomment %}


                <div class="form-check">
                    <a href="{% url 'login' %}"><button class="btn btn-link">Login</button></a>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
{% endblock %}