<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_name }}</title>
</head>
<body>
    <h1>Django Internship 2019 B2</h1>
    <sub>page={{ page_name }}</sub>

    {% block body %}
    {% endblock %}


    
</body>
</html>