{% extends 'mysite/base.html' %}

{% block body %}

<div>
    Todays time & date: <strong>{{ date|date:"P, F j Y" }}</strong>
</div>
<ul>
    <li>cryptic: <strong>{{ date|date:"c" }}</strong></li>
    <li>day of the week: <strong>{{ date|date:"l" }}</strong></li>
</ul>


{% endblock %}