{% extends 'mysite/base.html' %}

{% block body %}

<h3>Do math operations on: <strong>{{a}}, {{b}}, {{c}}</strong></h3>

<table>
    <thead>
        <tr>
            <td>Operation</td>
            <td>Expression</td>
            <td>Result</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>addition</td>
            <td>{{a}} + {{b}} + {{c}}</td>
            <td>{{sum}}</td>
        </tr>
        <tr>
            <td>subtraction</td>
            <td>{{a}} - {{b}} - {{c}}</td>
            <td>{{diff}}</td>
        </tr>
        <tr>
            <td>multiplication</td>
            <td>{{a}} * {{b}} * {{c}}</td>
            <td>{{prod}}</td>
        </tr>
        <tr>
            <td>division</td>
            <td>{{a}} / {{b}} / {{c}}</td>
            <td>
                {% if divide_by_zero %}
                    <strong>Error:</strong> division by zero!
                {% else %}
                    {{quot}}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<style>
table, th, td {
  border: 1px solid black;
  text-align: center;
}
thead {
    font-weight: bold;
}
</style>


{% endblock %}