{% extends 'mysite/base.html' %}

{% block body %}

<h3>Is date valid? {{valid}}</h3>

<ul>
    <li>year = {{year}}</li>
    <li>month = {{month}}</li>
    <li>day = {{day}}</li>
</ul>

{% endblock %}