<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{author.first_name}} {{author.last_name}}</td>
            <td>{{author.email}}</td>
        </tr>
        {% empty %}
        <tr>
            <td>No authors.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<style>
    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }

    thead {
        font-weight: bold;
    }
</style>