{% extends 'books/base.html' %}

{% block body %}

<form action="" method="get">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Search">
</form>
{% if user.is_authenticated %}
<br>
<div>
    <a href="{% url 'authors-add' %}"><button>Create New Author</button></a>
</div>
{% endif %}

{% if name %}
    <hr>
    {% if authors %}
        <div style="color: green">Found {{authors|length}} author{{authors|pluralize}}!</div>
    {% else %}
        <div style="color: red">No authors names found containing '{{name}}'</div>
    {% endif %}
{% endif %}

<hr>
{% if authors %}
    <h3>Authors</h3>
    {% include 'books/author_lister.html' %}
{% endif %}

{% endblock %}