<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page_name}}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <h1 class="navbar-brand" href="#">BoOkS!</h1>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list-books' %}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list-classifications' %}">Classifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list-publishers' %}">Publishers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list-authors' %}">Authors</a>
            </li>
        </ul>
        <span class="text-light">
                {% if user.is_authenticated %}
                    <span class="text-small">Logged in as </span><strong>{{user}}!</strong>
                    <a href="{% url 'logout' %}">
                            <button class="btn btn-light">Logout</button></a>
                
                {% else %}
                    <a href="{% url 'login' %}"><button class="btn btn-light">Login</button></a>
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
        </span>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>



    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</body>

</html>