<h3>Book Info:</h3>
<ul>
    <li>Title: {{book.title}}</li>
    <li>Author/s:
        <ul>
            {% for author in book.authors.all %}
            <li>
                <a href='{% url "books/authors" author_id=author.pk %}'>{{author.first_name}} {{author.last_name}}</a> -- {{author.email}}
            </li>
            {% empty %}
                <li>
                    None
                </li>
            {% endfor %}
        </ul>
            
    </li>
    <li>Publisher: {{book.publisher.name}}
        <ul>
            <li>Address: {{book.publisher.address}}</li>
            <li>City: {{book.publisher.city}}</li>
            <li>State Province: {{book.publisher.state_province}}</li>
            <li>Country: {{book.publisher.country}}</li>
            <li>Website: {{book.publisher.website}}</li>
        </ul>
    </li>
    <li>Publication Date: {{book.publication_date}}</li>
</ul>