<table class="table table-bordered">
    <thead>
        <tr>
            <td>Title</td>
            <td>Author/s</td>
            <td>Publisher</td>
            <td>Classification Code</td>
            <td>Publication Date</td>
        </tr>
    </thead>
    <tbody id="list-body">
    </tbody>
</table>


<style>
    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }

    thead {
        font-weight: bold;
    }
</style>