{% extends 'books/base.html' %}

{% block body %}


    <label for="title">Search by Title</label>
    <input type="text" name="title" id="title">
    <script>
    const URL_BOOKS_SEARCH = '{% url 'books-search' %}';
    const URL_BOOKS_LIST = '{% url 'list-books' %}';
    const AUTHOR = '{{author}}';
    const CLASSIFICATION = '{{classification}}';
    window.onload = function(){
        $('#title').keyup(function(e){
            $.ajax({
                url: '{% url "books-search" %}',
                data: (function() {
                    data = {}
                    data.title = $('#title').val();
                    if (AUTHOR) data.author = AUTHOR;
                    if (CLASSIFICATION) data.classification = CLASSIFICATION;
                    return data;
                })(),
                dataType: 'json',
                success: (data) => {
                    rows = JSON.parse(data);
                    let tbody = $('#list-body');
                    tbody.empty();
                    rows.forEach((row)=>{
                        let authors = row.fields.authors.join(' | ');
                        tbody.append(
                            $('<tr></tr>').append(
                                '<td><a href='+URL_BOOKS_LIST+row.pk+'>' + row.fields.title + '</a></td>' +
                                '<td>' + authors + '</td>' +
                                '<td>' + row.fields.publisher + '</td>' +
                                '<td>' + row.fields.classification + '</td>' +
                                '<td>' + row.fields.publication_date + '</td>'
                            )
                        );
                    });
                    if (rows.length == 0){
                        tbody.append(
                            '<tr><td colspan="5" style="color: red;">No books found!</td></tr>'
                        )
                    }
                },
                error: (err) => {
                    console.log('error: ', err)
                }
            })
            e.preventDefault();
        });

        $('#title').keyup();
    }
    
    </script>
{% if user.is_authenticated %}
    <span>
        <a href="{% url 'books-add' %}"><button>Create New Book</button></a>
    </span>


    

    
{% endif %}

{% if title %}
    <hr>
    {% if books %}
        <div style="color: green">Found {{books|length}} book{{books|pluralize}}!</div>
    {% else %}
        <div style="color: red">No book titles found containing '{{title}}'</div>
    {% endif %}
{% endif %}

<hr>
{% if books %}
    {% include 'books/book_lister.html' %}
{% endif %}

{% endblock %}