{% extends 'books/base.html' %}

{% block body %}
<h3>Classifications</h3>

{% for classification in classifications %}
<div>
    <a href="{% url 'books/classifications' classification_id=classification.pk %}">{{classification.code}} - {{classification.name}}</a>
    <ul>
        <li>{{classification.description}}</li>
    </ul>
</div>
{% empty %}

{% endfor %}
{% endblock %}