{% extends 'books/base.html' %}

{% block body %}
    <h1>{{page_name}}</h1>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red"> {{ error }} </p>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <ul>
            {{form.as_ul}}
        </ul>
        <input type="submit" value="Create">
    </form>
{% endblock %}