<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State Province</td>
            <td>Website</td>
        </tr>
    </thead>
    <tbody>
        {% for publisher in publishers %}
        <tr>
            <td>{{publisher.name}}</td>
            <td>{{publisher.address}}</td>
            <td>{{publisher.city}}</td>
            <td>{{publisher.state_province}}</td>
            <td>{{publisher.website}}</td>
        </tr>
        {% empty %}
        <tr>
            <td>No publishers.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<style>
    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }

    thead {
        font-weight: bold;
    }
</style>