{% extends 'books/base.html' %}

{% block body %}

<form action="" method="get">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Search">
</form>

{% if user.is_authenticated %}
<br>
<div>
    <a href="{% url 'publishers-add' %}"><button>Create New Publisher</button></a>
</div>
{% endif %}

{% if name %}
    <hr>
    {% if publishers %}
        <div style="color: green">Found {{publishers|length}} publisher{{publishers|pluralize}}!</div>
    {% else %}
        <div style="color: red">No publisher names found containing '{{name}}'</div>
    {% endif %}
{% endif %}

<hr>
{% if publishers %}
    <h3>Publishers</h3>
    {% include 'books/publisher_lister.html' %}
{% endif %}

{% endblock %}